<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772182053298-51s81cnv63jqe9049c16ogq4e4m6c2o9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772182053298-51s81cnv63jqe9049c16ogq4e4m6c2o9</string>
	<key>API_KEY</key>
	<string>AIzaSyAxFh0TlQe8G7hs0Y7SEEPpPryAgRkUVj4</string>
	<key>GCM_SENDER_ID</key>
	<string>772182053298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>za.co.dvt.GeoBudgeting</string>
	<key>PROJECT_ID</key>
	<string>geobudgetingapp</string>
	<key>STORAGE_BUCKET</key>
	<string>geobudgetingapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772182053298:ios:56088874e5ab71a7</string>
	<key>DATABASE_URL</key>
	<string>https://geobudgetingapp.firebaseio.com</string>
</dict>
</plist>